.invalid-password-message {
  visibility: hidden;
}

.has-invalid-password .invalid-password-message {
  visibility: visible;
}

.invalid-password-message {
  padding: .5rem .75rem .6rem;
  color: #c92a2a;
  background-color: #ffe3e3;
  border-radius: 5px;
}