body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  overflow-x: scroll;
}

* {
  box-sizing: border-box;
}

.login-row {
  position: fixed;
  display: flex;
  width: 100%;
  padding: .5rem;
  background-color: #e9ecef;
}

.login-row > * {
  margin-right: .5rem;
}

.login-row a {
  color: #1971c2;
  font-weight: 500;
}

.login-row a:hover {
  color: #228be6;
}

.login-row__label {
  margin-left: auto;
}