<div 
  class="tack"
  data-o-type="object"
  data-o-key-id="{{ tack.id }}"
  data-i-editable-with-remove="text(text-multi-line)"
  data-o-key-text="{{ tack.text }}"
  data-w-key-text="innerText"
>{{ tack.text }}</div>