{% include "../../partials/head/index.njk" %}

<form id="app" method="post" action="/sign-up">
  <div>Sign up:</div>
  <div>
    <input type="text" name="username">
  </div>
  <div>
    <input type="password" name="password">
  </div>
  <button type="submit">Sign up</button>
</form>

<script src="/dist/index.js"></script>

{% include "../../partials/footer/index.njk" %}










